<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<style>
    * {
        background-color: black;
    }

    h1 {
        color: white;
        font-size: larger;
        text-align: center;
        font-family: "JetBrains Mono", sans-serif;
    }

    p {
        color: white;
        text-align: left;
        font-family: "JetBrains Mono", sans-serif;
    }
</style>
<body>

<img src="cid:image_id" alt="">
<h1>
    Hello %s how are you?
</h1>
<p>I am developer at Google</p>

</body>
</html>